html body {
  margin: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:after,
  &::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.view-container {
  width: 100%;
  height: calc(100vh - 50px);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  .col {
    flex-direction: column;
  }
}
